@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .rotate-x-180 {
    transform: rotateX(180deg);
  }
  .rotate-x-30 {
    transform: rotateX(30deg);
  }
}
